#background {
  background: #e42343;
}

#info-background {
  background-image: -webkit-linear-gradient(top, #e42343 30px, #FFFFFF 31px);
  background-image:    -moz-linear-gradient(top, #e42343 30px, #FFFFFF 31px);
  background-image:     -ms-linear-gradient(top, #e42343 30px, #FFFFFF 31px);
  background-image:      -o-linear-gradient(top, #e42343 30px, #FFFFFF 31px);
  background-image:         linear-gradient(top, #e42343 30px, #FFFFFF 31px);
}

#olympic-info #flag {
  background-image: -webkit-linear-gradient(top, #e42343 30px, #E5E5E5 31px);
  background-image:    -moz-linear-gradient(top, #e42343 30px, #E5E5E5 31px);
  background-image:     -ms-linear-gradient(top, #e42343 30px, #E5E5E5 31px);
  background-image:      -o-linear-gradient(top, #e42343 30px, #E5E5E5 31px);
  background-image:         linear-gradient(top, #e42343 30px, #E5E5E5 31px);
}

ul.ranking li .country {
  color: #e42343;
}

ul.ranking li .chart .bar {
  background: #e42343;
}

footer p.author a {
  color: #e42343;
}