#background {
  background: #ea4b38;
}

#info-background {
  background-image: -webkit-linear-gradient(top, #ea4b38 30px, #FFFFFF 31px);
  background-image:    -moz-linear-gradient(top, #ea4b38 30px, #FFFFFF 31px);
  background-image:     -ms-linear-gradient(top, #ea4b38 30px, #FFFFFF 31px);
  background-image:      -o-linear-gradient(top, #ea4b38 30px, #FFFFFF 31px);
  background-image:         linear-gradient(top, #ea4b38 30px, #FFFFFF 31px);
}

#olympic-info #flag {
  background-image: -webkit-linear-gradient(top, #ea4b38 30px, #E5E5E5 31px);
  background-image:    -moz-linear-gradient(top, #ea4b38 30px, #E5E5E5 31px);
  background-image:     -ms-linear-gradient(top, #ea4b38 30px, #E5E5E5 31px);
  background-image:      -o-linear-gradient(top, #ea4b38 30px, #E5E5E5 31px);
  background-image:         linear-gradient(top, #ea4b38 30px, #E5E5E5 31px);
}

ul.ranking li .country {
  color: #ea4b38;
}

ul.ranking li .chart .bar {
  background: #ea4b38;
}

footer p.author a {
  color: #ea4b38;
}

#olympic-info input#toggle:checked {
  border-color: #ea4b38;
}

#olympic-info input#toggle:checked:before {
  background: #ea4b38; /* Old browsers */
  background: -moz-linear-gradient(top,  #ea4b38 0%, #ea4b38 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ea4b38), color-stop(100%,#ea4b38)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,106,179,100,1) 0%,#ea4b38 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ea4b38 0%,#ea4b38 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ea4b38 0%,#ea4b38 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ea4b38 0%,#ea4b38 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea4b38', endColorstr='#ea4b38',GradientType=0 ); /* IE6-9 */
}