#background {
  background: #676567;
}

#info-background {
  background-image: -webkit-linear-gradient(top, #676567 30px, #FFFFFF 31px);
  background-image:    -moz-linear-gradient(top, #676567 30px, #FFFFFF 31px);
  background-image:     -ms-linear-gradient(top, #676567 30px, #FFFFFF 31px);
  background-image:      -o-linear-gradient(top, #676567 30px, #FFFFFF 31px);
  background-image:         linear-gradient(top, #676567 30px, #FFFFFF 31px);
}

#olympic-info #flag {
  background-image: -webkit-linear-gradient(top, #676567 30px, #E5E5E5 31px);
  background-image:    -moz-linear-gradient(top, #676567 30px, #E5E5E5 31px);
  background-image:     -ms-linear-gradient(top, #676567 30px, #E5E5E5 31px);
  background-image:      -o-linear-gradient(top, #676567 30px, #E5E5E5 31px);
  background-image:         linear-gradient(top, #676567 30px, #E5E5E5 31px);
}

ul.ranking li .country {
  color: #676567;
}

ul.ranking li .chart .bar {
  background: #676567;
}

footer p.author a {
  color: #676567;
}

#olympic-info input#toggle:checked {
  border-color: #676567;
}

#olympic-info input#toggle:checked:before {
  background: #676567; /* Old browsers */
  background: -moz-linear-gradient(top,  #676567 0%, #676567 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#676567), color-stop(100%,#676567)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,106,179,100,1) 0%,#676567 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #676567 0%,#676567 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #676567 0%,#676567 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #676567 0%,#676567 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#676567', endColorstr='#676567',GradientType=0 ); /* IE6-9 */
}