#background {
  background: #fcb22f;
}

#info-background {
  background-image: -webkit-linear-gradient(top, #fcb22f 30px, #FFFFFF 31px);
  background-image:    -moz-linear-gradient(top, #fcb22f 30px, #FFFFFF 31px);
  background-image:     -ms-linear-gradient(top, #fcb22f 30px, #FFFFFF 31px);
  background-image:      -o-linear-gradient(top, #fcb22f 30px, #FFFFFF 31px);
  background-image:         linear-gradient(top, #fcb22f 30px, #FFFFFF 31px);
}

#olympic-info #flag {
  background-image: -webkit-linear-gradient(top, #fcb22f 30px, #E5E5E5 31px);
  background-image:    -moz-linear-gradient(top, #fcb22f 30px, #E5E5E5 31px);
  background-image:     -ms-linear-gradient(top, #fcb22f 30px, #E5E5E5 31px);
  background-image:      -o-linear-gradient(top, #fcb22f 30px, #E5E5E5 31px);
  background-image:         linear-gradient(top, #fcb22f 30px, #E5E5E5 31px);
}

ul.ranking li .country {
  color: #fcb22f;
}

ul.ranking li .chart .bar {
  background: #fcb22f;
}

footer p.author a {
  color: #fcb22f;
}

#olympic-info input#toggle:checked {
  border-color: #fcb22f;
}

#olympic-info input#toggle:checked:before {
  background: #fcb22f; /* Old browsers */
  background: -moz-linear-gradient(top,  #fcb22f 0%, #fcb22f 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcb22f), color-stop(100%,#fcb22f)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,106,179,100,1) 0%,#fcb22f 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fcb22f 0%,#fcb22f 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fcb22f 0%,#fcb22f 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fcb22f 0%,#fcb22f 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcb22f', endColorstr='#fcb22f',GradientType=0 ); /* IE6-9 */
}