#background {
  background: #60905e;
}

#info-background {
  background-image: -webkit-linear-gradient(top, #60905e 30px, #FFFFFF 31px);
  background-image:    -moz-linear-gradient(top, #60905e 30px, #FFFFFF 31px);
  background-image:     -ms-linear-gradient(top, #60905e 30px, #FFFFFF 31px);
  background-image:      -o-linear-gradient(top, #60905e 30px, #FFFFFF 31px);
  background-image:         linear-gradient(top, #60905e 30px, #FFFFFF 31px);
}

#olympic-info #flag {
  background-image: -webkit-linear-gradient(top, #60905e 30px, #E5E5E5 31px);
  background-image:    -moz-linear-gradient(top, #60905e 30px, #E5E5E5 31px);
  background-image:     -ms-linear-gradient(top, #60905e 30px, #E5E5E5 31px);
  background-image:      -o-linear-gradient(top, #60905e 30px, #E5E5E5 31px);
  background-image:         linear-gradient(top, #60905e 30px, #E5E5E5 31px);
}

ul.ranking li .country {
  color: #60905e;
}

ul.ranking li .chart .bar {
  background: #60905e;
}

footer p.author a {
  color: #60905e;
}

#olympic-info input#toggle:checked {
  border-color: #60905e;
}

#olympic-info input#toggle:checked:before {
  background: #60905e; /* Old browsers */
  background: -moz-linear-gradient(top,  #60905e 0%, #60905e 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#60905e), color-stop(100%,#60905e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,106,179,100,1) 0%,#60905e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #60905e 0%,#60905e 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #60905e 0%,#60905e 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #60905e 0%,#60905e 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60905e', endColorstr='#60905e',GradientType=0 ); /* IE6-9 */
}