#background {
  background: #d41002;
}

#info-background {
  background-image: -webkit-linear-gradient(top, #d41002 30px, #FFFFFF 31px);
  background-image:    -moz-linear-gradient(top, #d41002 30px, #FFFFFF 31px);
  background-image:     -ms-linear-gradient(top, #d41002 30px, #FFFFFF 31px);
  background-image:      -o-linear-gradient(top, #d41002 30px, #FFFFFF 31px);
  background-image:         linear-gradient(top, #d41002 30px, #FFFFFF 31px);
}

#olympic-info #flag {
  background-image: -webkit-linear-gradient(top, #d41002 30px, #E5E5E5 31px);
  background-image:    -moz-linear-gradient(top, #d41002 30px, #E5E5E5 31px);
  background-image:     -ms-linear-gradient(top, #d41002 30px, #E5E5E5 31px);
  background-image:      -o-linear-gradient(top, #d41002 30px, #E5E5E5 31px);
  background-image:         linear-gradient(top, #d41002 30px, #E5E5E5 31px);
}

ul.ranking li .country {
  color: #d41002;
}

ul.ranking li .chart .bar {
  background: #d41002;
}

footer p.author a {
  color: #d41002;
}

#olympic-info input#toggle:checked {
  border-color: #d41002;
}

#olympic-info input#toggle:checked:before {
  background: #d41002; /* Old browsers */
  background: -moz-linear-gradient(top,  #d41002 0%, #d41002 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d41002), color-stop(100%,#d41002)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,106,179,100,1) 0%,#d41002 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #d41002 0%,#d41002 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #d41002 0%,#d41002 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #d41002 0%,#d41002 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d41002', endColorstr='#d41002',GradientType=0 ); /* IE6-9 */
}