#background {
  background: #00a551;
}

#info-background {
  background-image: -webkit-linear-gradient(top, #00a551 30px, #FFFFFF 31px);
  background-image:    -moz-linear-gradient(top, #00a551 30px, #FFFFFF 31px);
  background-image:     -ms-linear-gradient(top, #00a551 30px, #FFFFFF 31px);
  background-image:      -o-linear-gradient(top, #00a551 30px, #FFFFFF 31px);
  background-image:         linear-gradient(top, #00a551 30px, #FFFFFF 31px);
}

#olympic-info #flag {
  background-image: -webkit-linear-gradient(top, #00a551 30px, #E5E5E5 31px);
  background-image:    -moz-linear-gradient(top, #00a551 30px, #E5E5E5 31px);
  background-image:     -ms-linear-gradient(top, #00a551 30px, #E5E5E5 31px);
  background-image:      -o-linear-gradient(top, #00a551 30px, #E5E5E5 31px);
  background-image:         linear-gradient(top, #00a551 30px, #E5E5E5 31px);
}

ul.ranking li .country {
  color: #00a551;
}

ul.ranking li .chart .bar {
  background: #00a551;
}

footer p.author a {
  color: #00a551;
}

#olympic-info input#toggle:checked {
  border-color: #00a551;
}

#olympic-info input#toggle:checked:before {
  background: #00a551; /* Old browsers */
  background: -moz-linear-gradient(top,  #00a551 0%, #00a551 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00a551), color-stop(100%,#00a551)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,106,179,100,1) 0%,#00a551 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #00a551 0%,#00a551 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #00a551 0%,#00a551 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #00a551 0%,#00a551 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a551', endColorstr='#00a551',GradientType=0 ); /* IE6-9 */
}