<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{city}} {{year}} {{season}} Olympics - Medal Count by Population</title>

    <meta name="viewport" content="width=device-width, initial-scale=0.5">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/{{olympic_id}}.css">

    <meta name="description" content="{{city}} {{year}} {{season}} Olympics - Medal Count by Population"/>
    <link rel="canonical" href="http://guillaumeflandre.com/olympics/{{olympic_id}}_{{season}}_olympics_medal_count_by_population.html" />
    <meta property="og:locale" content="en_US"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{city}} {{year}} {{season}} Olympics - Medal Count by Population"/>
    <meta property="og:description" content="{{city}} {{year}} {{season}} Olympics - Medal Count by Population"/>
    <meta property="og:url" content="http://guillaumeflandre.com/olympics/{{olympic_id}}_{{season}}_olympics_medal_count_by_population.html.html"/>
    <meta property="og:site_name" content="Olympics Medal Count by Population"/>
    <meta property="og:image" content="img/olympic_rings.png"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@gflandre"/>
    <meta name="twitter:domain" content="{{city}} {{year}} {{season}} Olympics - Medal Count by Population"/>
    <meta name="twitter:creator" content="@gflandre"/>
  </head>
  <body>

    <div id="main" class="{{special_class}}">
      <div id="background">
        <div id="header" class="clearfix">
          <nav class="left">
            {{previous_link}}
          </nav>
          <header>
            <h1>
              <a href="/olympics">Medal Count by Population</a>
            </h1>
            <svg version="1.1" id="olympic-rings"
                 xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink"
                 width="70px" height="32px" viewBox="0 0 96 44"
                 enable-background="new 0 0 96 44" xml:space="preserve">
                <g>
                  <circle fill="none" stroke="#FFFFFF" stroke-width="2" cx="15" cy="15" r="14"/>
                  <circle fill="none" stroke="#FFFFFF" stroke-width="2" cx="48" cy="15" r="14"/>
                  <circle fill="none" stroke="#FFFFFF" stroke-width="2" cx="81" cy="15" r="14"/>
                  <circle fill="none" stroke="#FFFFFF" stroke-width="2" cx="31.5" cy="29" r="14"/>
                  <circle fill="none" stroke="#FFFFFF" stroke-width="2" cx="64.5" cy="29" r="14"/>
                </g>
              </svg>
          </header>
          <nav class="right">
            {{next_link}}
          </nav>
        </div>
      </div>

      <div id="info-background">
        <div id="olympic-info" class="clearfix">
          <div id="flag">
            <img src="{{flag}}" />
          </div>
          <div class="text">
            <h2>{{city}} {{year}} <span>{{season}} Olympics</span></h2>
            <a class="toggle-ranking toggle-show" href="#">
              <i class="fa fa-angle-down"></i>
              show official medal count
            </a>
            <a class="toggle-ranking toggle-hide" href="#">
              <i class="fa fa-angle-down"></i>
              show medal count by population
            </a>
          </div>
        </div>
      </div>

      <ul class="ranking custom">
        <li class="legend clearfix">
          <div class="rank">&nbsp;</div>
          <div class="country">&nbsp;</div>
          <div class="medal">&nbsp;</div>
          <div class="medal">&nbsp;</div>
          <div class="medal">&nbsp;</div>
          <div class="population">
            *population in {{population_year}}
          </div>
        </li>
        {{custom_ranking}}
      </ul>

      <ul class="ranking official">
        <li class="legend clearfix">
          <div class="rank">&nbsp;</div>
          <div class="country">&nbsp;</div>
          <div class="medal">&nbsp;</div>
          <div class="medal">&nbsp;</div>
          <div class="medal">&nbsp;</div>
          <div class="population">
            *population in {{population_year}}
          </div>
        </li>
        {{official_ranking}}
      </ul>

      <footer>
        <p class="author">
          Made by <a href="http://twitter.com/gflandre" target="_blank">@gflandre</a>.
        </p>
        <p class="credits">
          Olympic rings by Antonsusi via
          <a href="http://commons.wikimedia.org/wiki/File:Olympic_Rings_Icon.svg" target="_blank">Wikimedia Commons</a>.
          Flag images from
          <a href="http://commons.wikimedia.org/wiki/Sovereign-state_flags" target="_blank">Wikipedia</a>.
          Icons by
          <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">Font Awesome</a>.
          Data from
          <a href="http://en.wikipedia.org/wiki/Olympic_Games" target="_blank">
            Wikipedia
          </a> and
          <a href="http://www.world-statistics.org" target="_blank">World Statistics</a>.
        </p>
      </footer>
    </div>

    <div id="menu">
      <a class="toggle-popover" href="#">
        <i class="fa fa-bars"></i>
      </a>
      <div class="content hidden">
        <ul>
          {{menu}}
        </ul>
      </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>

    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
  </body>
</html>