#background {
  background: #e42343;
}

#info-background {
  background-image: -webkit-linear-gradient(top, #e42343 30px, #FFFFFF 31px);
  background-image:    -moz-linear-gradient(top, #e42343 30px, #FFFFFF 31px);
  background-image:     -ms-linear-gradient(top, #e42343 30px, #FFFFFF 31px);
  background-image:      -o-linear-gradient(top, #e42343 30px, #FFFFFF 31px);
  background-image:         linear-gradient(top, #e42343 30px, #FFFFFF 31px);
}

#olympic-info #flag {
  background-image: -webkit-linear-gradient(top, #e42343 30px, #E5E5E5 31px);
  background-image:    -moz-linear-gradient(top, #e42343 30px, #E5E5E5 31px);
  background-image:     -ms-linear-gradient(top, #e42343 30px, #E5E5E5 31px);
  background-image:      -o-linear-gradient(top, #e42343 30px, #E5E5E5 31px);
  background-image:         linear-gradient(top, #e42343 30px, #E5E5E5 31px);
}

ul.ranking li .country {
  color: #e42343;
}

ul.ranking li .chart .bar {
  background: #e42343;
}

footer p.author a {
  color: #e42343;
}

#olympic-info input#toggle:checked {
  border-color: #e42343;
}

#olympic-info input#toggle:checked:before {
  background: #e42343; /* Old browsers */
  background: -moz-linear-gradient(top,  #e42343 0%, #e42343 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e42343), color-stop(100%,#e42343)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,106,179,100,1) 0%,#e42343 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #e42343 0%,#e42343 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #e42343 0%,#e42343 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #e42343 0%,#e42343 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e42343', endColorstr='#e42343',GradientType=0 ); /* IE6-9 */
}