#background {
  background: #b52929;
}

#info-background {
  background-image: -webkit-linear-gradient(top, #b52929 30px, #FFFFFF 31px);
  background-image:    -moz-linear-gradient(top, #b52929 30px, #FFFFFF 31px);
  background-image:     -ms-linear-gradient(top, #b52929 30px, #FFFFFF 31px);
  background-image:      -o-linear-gradient(top, #b52929 30px, #FFFFFF 31px);
  background-image:         linear-gradient(top, #b52929 30px, #FFFFFF 31px);
}

#olympic-info #flag {
  background-image: -webkit-linear-gradient(top, #b52929 30px, #E5E5E5 31px);
  background-image:    -moz-linear-gradient(top, #b52929 30px, #E5E5E5 31px);
  background-image:     -ms-linear-gradient(top, #b52929 30px, #E5E5E5 31px);
  background-image:      -o-linear-gradient(top, #b52929 30px, #E5E5E5 31px);
  background-image:         linear-gradient(top, #b52929 30px, #E5E5E5 31px);
}

ul.ranking li .country {
  color: #b52929;
}

ul.ranking li .chart .bar {
  background: #b52929;
}

footer p.author a {
  color: #b52929;
}

#olympic-info input#toggle:checked {
  border-color: #b52929;
}

#olympic-info input#toggle:checked:before {
  background: #b52929; /* Old browsers */
  background: -moz-linear-gradient(top,  #b52929 0%, #b52929 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b52929), color-stop(100%,#b52929)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,106,179,100,1) 0%,#b52929 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #b52929 0%,#b52929 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #b52929 0%,#b52929 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #b52929 0%,#b52929 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b52929', endColorstr='#b52929',GradientType=0 ); /* IE6-9 */
}