#background {
  background: #ddc213;
}

#info-background {
  background-image: -webkit-linear-gradient(top, #ddc213 30px, #FFFFFF 31px);
  background-image:    -moz-linear-gradient(top, #ddc213 30px, #FFFFFF 31px);
  background-image:     -ms-linear-gradient(top, #ddc213 30px, #FFFFFF 31px);
  background-image:      -o-linear-gradient(top, #ddc213 30px, #FFFFFF 31px);
  background-image:         linear-gradient(top, #ddc213 30px, #FFFFFF 31px);
}

#olympic-info #flag {
  background-image: -webkit-linear-gradient(top, #ddc213 30px, #E5E5E5 31px);
  background-image:    -moz-linear-gradient(top, #ddc213 30px, #E5E5E5 31px);
  background-image:     -ms-linear-gradient(top, #ddc213 30px, #E5E5E5 31px);
  background-image:      -o-linear-gradient(top, #ddc213 30px, #E5E5E5 31px);
  background-image:         linear-gradient(top, #ddc213 30px, #E5E5E5 31px);
}

ul.ranking li .country {
  color: #ddc213;
}

ul.ranking li .chart .bar {
  background: #ddc213;
}

footer p.author a {
  color: #ddc213;
}

#olympic-info input#toggle:checked {
  border-color: #ddc213;
}

#olympic-info input#toggle:checked:before {
  background: #ddc213; /* Old browsers */
  background: -moz-linear-gradient(top,  #ddc213 0%, #ddc213 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ddc213), color-stop(100%,#ddc213)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,106,179,100,1) 0%,#ddc213 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ddc213 0%,#ddc213 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ddc213 0%,#ddc213 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ddc213 0%,#ddc213 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ddc213', endColorstr='#ddc213',GradientType=0 ); /* IE6-9 */
}