#background {
  background: #0270b8;
}

#info-background {
  background-image: -webkit-linear-gradient(top, #0270b8 30px, #FFFFFF 31px);
  background-image:    -moz-linear-gradient(top, #0270b8 30px, #FFFFFF 31px);
  background-image:     -ms-linear-gradient(top, #0270b8 30px, #FFFFFF 31px);
  background-image:      -o-linear-gradient(top, #0270b8 30px, #FFFFFF 31px);
  background-image:         linear-gradient(top, #0270b8 30px, #FFFFFF 31px);
}

#olympic-info #flag {
  background-image: -webkit-linear-gradient(top, #0270b8 30px, #E5E5E5 31px);
  background-image:    -moz-linear-gradient(top, #0270b8 30px, #E5E5E5 31px);
  background-image:     -ms-linear-gradient(top, #0270b8 30px, #E5E5E5 31px);
  background-image:      -o-linear-gradient(top, #0270b8 30px, #E5E5E5 31px);
  background-image:         linear-gradient(top, #0270b8 30px, #E5E5E5 31px);
}

ul.ranking li .country {
  color: #0270b8;
}

ul.ranking li .chart .bar {
  background: #0270b8;
}

footer p.author a {
  color: #0270b8;
}

#olympic-info input#toggle:checked {
  border-color: #0270b8;
}

#olympic-info input#toggle:checked:before {
  background: #0270b8; /* Old browsers */
  background: -moz-linear-gradient(top,  #0270b8 0%, #0270b8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0270b8), color-stop(100%,#0270b8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,106,179,100,1) 0%,#0270b8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #0270b8 0%,#0270b8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #0270b8 0%,#0270b8 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #0270b8 0%,#0270b8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0270b8', endColorstr='#0270b8',GradientType=0 ); /* IE6-9 */
}