#background {
  background: #fc3a32;
}

#info-background {
  background-image: -webkit-linear-gradient(top, #fc3a32 30px, #FFFFFF 31px);
  background-image:    -moz-linear-gradient(top, #fc3a32 30px, #FFFFFF 31px);
  background-image:     -ms-linear-gradient(top, #fc3a32 30px, #FFFFFF 31px);
  background-image:      -o-linear-gradient(top, #fc3a32 30px, #FFFFFF 31px);
  background-image:         linear-gradient(top, #fc3a32 30px, #FFFFFF 31px);
}

#olympic-info #flag {
  background-image: -webkit-linear-gradient(top, #fc3a32 30px, #E5E5E5 31px);
  background-image:    -moz-linear-gradient(top, #fc3a32 30px, #E5E5E5 31px);
  background-image:     -ms-linear-gradient(top, #fc3a32 30px, #E5E5E5 31px);
  background-image:      -o-linear-gradient(top, #fc3a32 30px, #E5E5E5 31px);
  background-image:         linear-gradient(top, #fc3a32 30px, #E5E5E5 31px);
}

ul.ranking li .country {
  color: #fc3a32;
}

ul.ranking li .chart .bar {
  background: #fc3a32;
}

footer p.author a {
  color: #fc3a32;
}

#olympic-info input#toggle:checked {
  border-color: #fc3a32;
}

#olympic-info input#toggle:checked:before {
  background: #fc3a32; /* Old browsers */
  background: -moz-linear-gradient(top,  #fc3a32 0%, #fc3a32 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fc3a32), color-stop(100%,#fc3a32)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,106,179,100,1) 0%,#fc3a32 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fc3a32 0%,#fc3a32 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fc3a32 0%,#fc3a32 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fc3a32 0%,#fc3a32 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc3a32', endColorstr='#fc3a32',GradientType=0 ); /* IE6-9 */
}